# Virtual Environment
venv/

# Compiled Python files
*.pyc

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyo
*.pyd

# IDE specific files
.idea/

11_env/

/learning_logs/__pycache__/

/ll_project/__pycache__/
